# Ignore Python cache (if any)
__pycache__/
*.pyc

# Ignore downloaded datasets
datasets/nyc_tlc/yellow/**

/jars/**
!/jars/.gitkeep

/minio-data/**
!/minio-data/.gitkeep

/.git.bak/  

# Ignore PostgreSQL / Hive Metastore data (if any in the future)
postgres-data/
mariadb-data/

# Ignore temporary files
*.log
*.tmp

# Ignore OS files
.DS_Store
Thumbs.db
